@tailwind base;
@tailwind components;
@tailwind utilities;

$black: rgb(11, 11, 14);
$light: #e5e5e5;
$primary: #00055e;
$radius: 6px;

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.rohs-categories-filter {
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  overflow: scroll;
  padding-bottom: 20px;
}

.rohs-categories-filter__category {
  margin-right: 8px;
}

.rohs-button-filter {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  display: block;
  width: -moz-max-content;
  width: max-content;
  background: transparent;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: border-color 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  padding: 0;
  text-align: center;
  color: $black;
  border: 2px solid $light;
  border-radius: 999px;

  &:hover,
  &:focus {
    border-color: $black;
    outline: none;
  }

  span.rohs-button-filter__inner {
    display: inline-block;
    padding: 9px 19px;
  }
}
